## Download and pepare horse colic dataset from UCI repository for Logistic Calssification model

In [17]:
#Load all necessary libraries and packages.
import pandas as pd
import numpy as np
import re
import string
import itertools

#https://archive.ics.uci.edu/ml/machine-learning-databases/horse-colic/horse-colic.data

The data is provided in 2 files, they split it to test (300 rows) and train (68 rows) sets on their own. I've opted to combine these two into a single dataframe and perform my own test train split. The two cells below download and load the two into pandas df's and append them together.

In [3]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/horse-colic/horse-colic.data',sep='\ ', header=None)
df

C:\Users\cyeager\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2,1,530101,38.50,66,28,3,3,?,2,...,45.00,8.40,?,?,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,1,533886,?,120,70,4,?,4,2,...,55,65,?,?,3,2,3205,0,0,2
296,2,1,527702,37.20,72,24,3,2,4,2,...,44.00,?,3,3.30,3,1,2208,0,0,1
297,1,1,529386,37.50,72,30,4,3,4,1,...,60.00,6.80,?,?,2,1,3205,0,0,2
298,1,1,530612,36.50,100,24,3,3,3,1,...,50.00,6.00,3,3.40,1,1,2208,0,0,1
299,1,1,534618,37.2,40,20,?,?,?,?,...,36,62,1,1,3,2,6112,0,0,2

In [4]:
df2=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/horse-colic/horse-colic.test',sep='\ ', header=None)
df2

C:\Users\cyeager\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2,1,528626,38.50,54,20,?,1,2,2,...,42.00,6.30,?,?,1,2,3111,0,0,1
1,2,1,527950,37.60,48,36,?,?,1,1,...,44.00,6.30,1,5.00,1,2,3111,0,0,1
2,1,1,535263,37.7,44,28,?,4,3,2,...,45,70,3,2,1,1,3205,0,0,2
3,1,1,534523,37,56,24,3,1,4,2,...,35,61,3,2,3,2,2205,2208,0,2
4,2,1,528926,38.00,42,12,3,?,3,1,...,37.00,5.80,?,?,1,2,3111,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,2,1,529695,38.60,60,30,1,1,3,1,...,40.00,6.00,1,?,1,1,3205,0,0,2
64,2,1,528452,37.80,42,40,1,1,1,1,...,36.00,6.20,?,?,1,2,4124,0,0,2
65,1,1,534783,38,60,12,1,1,2,1,...,44,65,3,2,3,1,2209,0,0,2
66,2,1,528926,38.00,42,12,3,?,3,1,...,37.00,5.80,?,?,1,2,3111,0,0,2
67,2,1,530670,37.60,88,36,3,1,1,1,...,44.00,6.00,?,?,2,1,2112,0,0,2

In [5]:
df=df.append(df2)

The data dictionary for this set, which is totally encoded, is provided in a secondary text file. The below cells read this text file and and selects those lines from it which include the feature attirbute descriptions for further consideration.

In [7]:
cols = open('HorseColic/horse-colic.names', "r")
linelist=cols.readlines()

In [8]:
matching = [s for s in linelist if "Attribute" in s]
X=" ".join(matching)

In [10]:
MyAttributes=linelist[linelist.index(X):]
MyAttributes

['7. Attribute Information:\n',
 '\n',
 '  1:  surgery?\n',
 '          1 = Yes, it had surgery\n',
 '          2 = It was treated without surgery\n',
 '\n',
 '  2:  Age \n',
 '          1 = Adult horse\n',
 '          2 = Young (< 6 months)\n',
 '\n',
 '  3:  Hospital Number \n',
 '          - numeric id\n',
 '          - the case number assigned to the horse\n',
 '            (may not be unique if the horse is treated > 1 time)\n',
 '\n',
 '  4:  rectal temperature\n',
 '          - linear\n',
 '          - in degrees celsius.\n',
 '          - An elevated temp may occur due to infection.\n',
 '          - temperature may be reduced when the animal is in late shock\n',
 '          - normal temp is 37.8\n',
 '          - this parameter will usually change as the problem progresses\n',
 '               eg. may start out normal, then become elevated because of\n',
 '                   the lesion, passing back through the normal range as the\n',
 '                   horse goes into shock\n',
 '  5:  pulse \n',
 '          - linear\n',
 '          - the heart rate in beats per minute\n',
 '          - is a reflection of the heart condition: 30 -40 is normal for adults\n',
 '          - rare to have a lower than normal rate although athletic horses\n',
 '            may have a rate of 20-25\n',
 '          - animals with painful lesions or suffering from circulatory shock\n',
 '            may have an elevated heart rate\n',
 '\n',
 '  6:  respiratory rate\n',
 '          - linear\n',
 '          - normal rate is 8 to 10\n',
 '          - usefulness is doubtful due to the great fluctuations\n',
 '\n',
 '  7:  temperature of extremities\n',
 '          - a subjective indication of peripheral circulation\n',
 '          - possible values:\n',
 '               1 = Normal\n',
 '               2 = Warm\n',
 '               3 = Cool\n',
 '               4 = Cold\n',
 '          - cool to cold extremities indicate possible shock\n',
 '          - hot extremities should correlate with an elevated rectal temp.\n',
 '\n',
 '  8:  peripheral pulse\n',
 '          - subjective\n',
 '          - possible values are:\n',
 '               1 = normal\n',
 '               2 = increased\n',
 '               3 = reduced\n',
 '               4 = absent\n',
 '          - normal or increased p.p. are indicative of adequate circulation\n',
 '            while reduced or absent indicate poor perfusion\n',
 '\n',
 '  9:  mucous membranes\n',
 '          - a subjective measurement of colour\n',
 '          - possible values are:\n',
 '               1 = normal pink\n',
 '               2 = bright pink\n',
 '               3 = pale pink\n',
 '               4 = pale cyanotic\n',
 '               5 = bright red / injected\n',
 '               6 = dark cyanotic\n',
 '          - 1 and 2 probably indicate a normal or slightly increased\n',
 '            circulation\n',
 '          - 3 may occur in early shock\n',
 '          - 4 and 6 are indicative of serious circulatory compromise\n',
 '          - 5 is more indicative of a septicemia\n',
 '\n',
 ' 10: capillary refill time\n',
 '          - a clinical judgement. The longer the refill, the poorer the\n',
 '            circulation\n',
 '          - possible values\n',
 '               1 = < 3 seconds\n',
 '               2 = >= 3 seconds\n',
 '\n',
 " 11: pain - a subjective judgement of the horse's pain level\n",
 '          - possible values:\n',
 '               1 = alert, no pain\n',
 '               2 = depressed\n',
 '               3 = intermittent mild pain\n',
 '               4 = intermittent severe pain\n',
 '               5 = continuous severe pain\n',
 '          - should NOT be treated as a ordered or discrete variable!\n',
 '          - In general, the more painful, the more likely it is to require\n',
 '            surgery\n',
 '          - prior treatment of pain may mask the pain level to some extent\n',
 '\n',
 ' 12: peristalsis                              \n',
 "          - an indication of the activity in the horse's gut. As the gut\n",
 '            becomes more distended or the horse becomes more toxic, the\n',
 '            activity decreases\n',
 '          - possible values:\n',
 '               1 = hypermotile\n',
 '               2 = normal\n',
 '               3 = hypomotile\n',
 '               4 = absent\n',
 '\n',
 ' 13: abdominal distension\n',
 '          - An IMPORTANT parameter.\n',
 '          - possible values\n',
 '               1 = none\n',
 '               2 = slight\n',
 '               3 = moderate\n',
 '               4 = severe\n',
 '          - an animal with abdominal distension is likely to be painful and\n',
 '            have reduced gut motility.\n',
 '          - a horse with severe abdominal distension is likely to require\n',
 '            surgery just tio relieve the pressure\n',
 '\n',
 ' 14: nasogastric tube\n',
 '          - this refers to any gas coming out of the tube\n',
 '          - possible values:\n',
 '               1 = none\n',
 '               2 = slight\n',
 '               3 = significant\n',
 '          - a large gas cap in the stomach is likely to give the horse\n',
 '            discomfort\n',
 '\n',
 ' 15: nasogastric reflux\n',
 '          - possible values\n',
 '               1 = none\n',
 '               2 = > 1 liter\n',
 '               3 = < 1 liter\n',
 '          - the greater amount of reflux, the more likelihood that there is\n',
 '            some serious obstruction to the fluid passage from the rest of\n',
 '            the intestine\n',
 '\n',
 ' 16: nasogastric reflux PH\n',
 '          - linear\n',
 '          - scale is from 0 to 14 with 7 being neutral\n',
 '          - normal values are in the 3 to 4 range\n',
 '\n',
 ' 17: rectal examination - feces\n',
 '          - possible values\n',
 '               1 = normal\n',
 '               2 = increased\n',
 '               3 = decreased\n',
 '               4 = absent\n',
 '          - absent feces probably indicates an obstruction\n',
 '\n',
 ' 18: abdomen\n',
 '          - possible values\n',
 '               1 = normal\n',
 '               2 = other\n',
 '               3 = firm feces in the large intestine\n',
 '               4 = distended small intestine\n',
 '               5 = distended large intestine\n',
 '          - 3 is probably an obstruction caused by a mechanical impaction\n',
 '            and is normally treated medically\n',
 '          - 4 and 5 indicate a surgical lesion\n',
 '\n',
 ' 19: packed cell volume\n',
 '          - linear\n',
 '          - the # of red cells by volume in the blood\n',
 '          - normal range is 30 to 50. The level rises as the circulation\n',
 '            becomes compromised or as the animal becomes dehydrated.\n',
 '\n',
 ' 20: total protein\n',
 '          - linear\n',
 '          - normal values lie in the 6-7.5 (gms/dL) range\n',
 '          - the higher the value the greater the dehydration\n',
 '\n',
 ' 21: abdominocentesis appearance\n',
 "          - a needle is put in the horse's abdomen and fluid is obtained from\n",
 '            the abdominal cavity\n',
 '          - possible values:\n',
 '               1 = clear\n',
 '               2 = cloudy\n',
 '               3 = serosanguinous\n',
 '          - normal fluid is clear while cloudy or serosanguinous indicates\n',
 '            a compromised gut\n',
 '\n',
 ' 22: abdomcentesis total protein\n',
 '          - linear\n',
 '          - the higher the level of protein the more likely it is to have a\n',
 '            compromised gut. Values are in gms/dL\n',
 '\n',
 ' 23: outcome\n',
 '          - what eventually happened to the horse?\n',
 '          - possible values:\n',
 '               1 = lived\n',
 '               2 = died\n',
 '               3 = was euthanized\n',
 '\n',
 ' 24: surgical lesion?\n',
 '          - retrospectively, was the problem (lesion) surgical?\n',
 '          - all cases are either operated upon or autopsied so that\n',
 '            this value and the lesion type are always known\n',
 '          - possible values:\n',
 '               1 = Yes\n',
 '               2 = No\n',
 '\n',
 ' 25, 26, 27: type of lesion\n',
 '          - first number is site of lesion\n',
 '               1 = gastric\n',
 '               2 = sm intestine\n',
 '               3 = lg colon\n',
 '               4 = lg colon and cecum\n',
 '               5 = cecum\n',
 '               6 = transverse colon\n',
 '               7 = retum/descending colon\n',
 '               8 = uterus\n',
 '               9 = bladder\n',
 '               11 = all intestinal sites\n',
 '               00 = none\n',
 '          - second number is type\n',
 '               1 = simple\n',
 '               2 = strangulation\n',
 '               3 = inflammation\n',
 '               4 = other\n',
 '          - third number is subtype\n',
 '               1 = mechanical\n',
 '               2 = paralytic\n',
 '               0 = n/a\n',
 '          - fourth number is specific code\n',
 '               1 = obturation\n',
 '               2 = intrinsic\n',
 '               3 = extrinsic\n',
 '               4 = adynamic\n',
 '               5 = volvulus/torsion\n',
 '               6 = intussuption\n',
 '               7 = thromboembolic\n',
 '               8 = hernia\n',
 '               9 = lipoma/slenic incarceration\n',
 '               10 = displacement\n',
 '               0 = n/a\n',
 ' 28: cp_data\n',
 '          - is pathology data present for this case?\n',
 '               1 = Yes\n',
 '               2 = No\n',
 '          - this variable is of no significance since pathology data\n',
 '            is not included or collected for these cases\n',
 '\n',
 '8. Missing values: 30% of the values are missing']

In [11]:
#The following columns are not needed per the documentation and are dropped.
df=df.drop([27,26,25],axis=1)

While the needed lines are selected and passed into list format above, the follwing re code locates the feature names specificially and reads them into a list, so that the columns within my dataframe can be named for easier analysis within the model.

In [14]:
colnames=[]
for i in range(len(MyAttributes)):
    colnames.append(re.findall("\d\:(.*)",MyAttributes[i]))

In [18]:
colnames=list(filter(None, colnames))

In [19]:
#Remove any leftover punctuation using list proided by string
for d in range (len(colnames)):
    colnames[d] = [''.join(c for c in s if c not in string.punctuation) for s in colnames[d]]

In [20]:
columns=(list(itertools.chain.from_iterable(colnames)))
columns

['  surgery',
 '  Age ',
 '  Hospital Number ',
 '  rectal temperature',
 '  pulse ',
 '  respiratory rate',
 '  temperature of extremities',
 '  peripheral pulse',
 '  mucous membranes',
 ' capillary refill time',
 ' pain  a subjective judgement of the horses pain level',
 ' peristalsis                              ',
 ' abdominal distension',
 ' nasogastric tube',
 ' nasogastric reflux',
 ' nasogastric reflux PH',
 ' rectal examination  feces',
 ' abdomen',
 ' packed cell volume',
 ' total protein',
 ' abdominocentesis appearance',
 ' abdomcentesis total protein',
 ' outcome',
 ' surgical lesion',
 ' type of lesion',
 ' cpdata']

In [21]:
#Remove any leftover whitespace after punctuation is removed
columnnames=[]
for i in range(len(columns)):
    columnnames.append(str(columns[i]).strip())
columnnames

['surgery',
 'Age',
 'Hospital Number',
 'rectal temperature',
 'pulse',
 'respiratory rate',
 'temperature of extremities',
 'peripheral pulse',
 'mucous membranes',
 'capillary refill time',
 'pain  a subjective judgement of the horses pain level',
 'peristalsis',
 'abdominal distension',
 'nasogastric tube',
 'nasogastric reflux',
 'nasogastric reflux PH',
 'rectal examination  feces',
 'abdomen',
 'packed cell volume',
 'total protein',
 'abdominocentesis appearance',
 'abdomcentesis total protein',
 'outcome',
 'surgical lesion',
 'type of lesion',
 'cpdata']

In [22]:
#Drop last label as its correspondinf column was dropped above
columnnames=(columnnames[:-1])

In [23]:
len(columnnames)

25

In [24]:
df.columns=columnnames
df._data = df._data.rename_axis(lambda x: x, 0, True)

I have decided to drop any columns which have a null value proportion of greater than 25%

In [25]:
df1 = df.apply(pd.to_numeric, args=('coerce',))

null_counts=round(df1.isnull().sum()/len(df) *100,2)
remove=null_counts[null_counts > 25].index

In [26]:
null_counts

surgery                                                   0.54
Age                                                       0.00
Hospital Number                                           0.00
rectal temperature                                       18.75
pulse                                                     7.07
respiratory rate                                         19.29
temperature of extremities                               17.66
peripheral pulse                                         22.55
mucous membranes                                         13.04
capillary refill time                                    10.33
pain  a subjective judgement of the horses pain level    17.12
peristalsis                                              14.13
abdominal distension                                     17.66
nasogastric tube                                         35.60
nasogastric reflux                                       36.14
nasogastric reflux PH                                    81.25
rectal examination  feces                                34.78
abdomen                                                  38.86
packed cell volume                                       10.05
total protein                                            11.68
abdominocentesis appearance                              52.72
abdomcentesis total protein                              63.86
outcome                                                   0.54
surgical lesion                                           0.00
type of lesion                                            0.00
dtype: float64

In [27]:
remove

Index(['nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH',
       'rectal examination  feces', 'abdomen', 'abdominocentesis appearance',
       'abdomcentesis total protein'],
      dtype='object')

In [28]:
df1=df1.drop(list(remove), axis=1)
df1=df1.drop('Hospital Number', axis=1)

Final df is named simple binary, outcome is my first target variable as whether the horse lives or dies, according to the documentation 2 is death and 3 is euthenized. I've decided to comine these into one so that a binary classification can be made using out model of lvives or dies. This recoded varibale is written to the new column Target

In [36]:
SimpleBinary=df1
SimpleBinary['outcome'].value_counts()

1.0    225
2.0     89
3.0     52
Name: outcome, dtype: int64

In [37]:
#SimpleBinary=SimpleBinary[SimpleBinary['outcome'] != '?']
#SimpleBinary.replace('?',0,inplace=True)

In [38]:
SimpleBinary.shape

(368, 18)

In [39]:
SimpleBinary['Target'] = SimpleBinary['outcome'].map(lambda x: 2 if x == 3 else x)

SimpleBinary=SimpleBinary.astype(float)
SimpleBinary['Target'].value_counts()

1.0    225
2.0    141
Name: Target, dtype: int64

In [40]:
#originally encoded 1 or 2, i prefer 0 or 1, recoded here.
SimpleBinary['Target'].replace(to_replace =1, value =0,inplace=True)
SimpleBinary['Target'].replace(to_replace =2, value =1,inplace=True)

In [41]:
SimpleBinary['Target'].value_counts()

0.0    225
1.0    141
Name: Target, dtype: int64

In [42]:
SimpleBinary.isna().sum()

surgery                                                   2
Age                                                       0
rectal temperature                                       69
pulse                                                    26
respiratory rate                                         71
temperature of extremities                               65
peripheral pulse                                         83
mucous membranes                                         48
capillary refill time                                    38
pain  a subjective judgement of the horses pain level    63
peristalsis                                              52
abdominal distension                                     65
packed cell volume                                       37
total protein                                            43
outcome                                                   2
surgical lesion                                           0
type of lesion                                            0
Target                                                    2
dtype: int64

Some variables are categorical some continuous. The below features are described within the documentation as continuous. Empty values for these are extrapolated using the median values throughout the dataset.

In [43]:
LinearNumVals=['rectal temperature','pulse','respiratory rate','packed cell volume','total protein']

In [44]:
for colz in SimpleBinary.columns.values:
    SimpleBinary[LinearNumVals]=SimpleBinary[LinearNumVals].fillna(SimpleBinary[LinearNumVals].median())

Splitting/decoding type of leison column into location and type. The documetation states that the first digit of this numeric value denotes location and the second digit denotes type of lesion. null is used for a lack of reported information.

In [45]:
SimpleBinary['location of lesion']=SimpleBinary['type of lesion'].astype(str).str[0:1]

SimpleBinary['type of lesion']=SimpleBinary['type of lesion'].astype(str).str[1:2]

SimpleBinary['type of lesion'].replace(to_replace ='.', value =0,inplace=True)

Though protien level is continuous value its not simply ordinal. per documentation, recode range as normal '0' or abnomral '1'

In [49]:
SimpleBinary['total protein'] = np.where(SimpleBinary['total protein'] > 7.5, 1, SimpleBinary['total protein'])
SimpleBinary['total protein'] = np.where(SimpleBinary['total protein'] < 6, 1, SimpleBinary['total protein'])
SimpleBinary['total protein'] = np.where(SimpleBinary['total protein'].between(6,7.5), 0, SimpleBinary['total protein'])

In [50]:
SimpleBinary

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,pain a subjective judgement of the horses pain level,peristalsis,abdominal distension,packed cell volume,total protein,outcome,surgical lesion,type of lesion,Target,location of lesion
0,2.0,1.0,38.5,66.0,28.0,3.0,3.0,NaN,2.0,5.0,4.0,4.0,45.0,1.0,2.0,2.0,1,1.0,1
1,1.0,1.0,39.2,88.0,20.0,NaN,NaN,4.0,1.0,3.0,4.0,2.0,50.0,1.0,3.0,2.0,2,1.0,2
2,2.0,1.0,38.3,40.0,24.0,1.0,1.0,3.0,1.0,3.0,3.0,1.0,33.0,0.0,1.0,2.0,0,0.0,0
3,1.0,9.0,39.1,164.0,84.0,4.0,1.0,6.0,2.0,2.0,4.0,4.0,48.0,0.0,2.0,1.0,2,1.0,2
4,2.0,1.0,37.3,104.0,35.0,NaN,NaN,6.0,2.0,NaN,NaN,NaN,74.0,0.0,2.0,2.0,3,1.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,2.0,1.0,38.6,60.0,30.0,1.0,1.0,3.0,1.0,4.0,2.0,2.0,40.0,0.0,1.0,1.0,2,0.0,3
64,2.0,1.0,37.8,42.0,40.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,36.0,0.0,1.0,2.0,1,0.0,4
65,1.0,1.0,38.0,60.0,12.0,1.0,1.0,2.0,1.0,2.0,1.0,1.0,44.0,1.0,3.0,1.0,2,1.0,2
66,2.0,1.0,38.0,42.0,12.0,3.0,NaN,3.0,1.0,1.0,1.0,1.0,37.0,1.0,1.0,2.0,1,0.0,3
67,2.0,1.0,37.6,88.0,36.0,3.0,1.0,1.0,1.0,3.0,3.0,2.0,44.0,0.0,2.0,1.0,1,1.0,2

In [51]:
#Any leftover na values for categorical varibales after this cleanup are filled with 0
SimpleBinary=SimpleBinary.fillna(0)

In [52]:
#Write final datafram to an excel file for use with the notebooks which contain the models.
SimpleBinary.to_excel('Data/HorseColicData_DeathTarget.xlsx')